/* Import Catppuccin-Frappe colorscheme */
@import "frappe.css";

* {
    color: @text;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    background-color: @surface2;
    font-weight: bold;
    padding: 0 .25em;
    margin: .25em;
}

#workspaces button.active {
    background-color: @blue;
}

#cpu, #load, #memory, #clock, #network, #battery, #backlight, #pulseaudio, #language, #temperature {
    background-color: alpha(@surface2, 0.3);
    border-radius: 10px;
    padding: .1em .25em .1em .5em;
    margin: .25em;
}

#language {
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#custom-power {
    color: @white;
    background-color: @blue;
    border-radius: 10px;
    padding: .1em .25em .1em .5em;
    margin: .1em .25em;
}

/* menu { */
/*     color: @black; */
/*     background: none; */
/*     background-color: alpha(@surface2, 0.3); */
/* } */
/**/
/* menuitem { */
/*     color: @green; */
/*     background: none; */
/*     background-color: alpha(@surface2, 0.3); */
/* } */
